/Animal.class
/AnimalTest.class
/Bonus.class
/Cheatable.class
/Chicken.class
/ChildClass.class
/Company.class
/Dog.class
/Employee.class
/InterA.class
/InterB.class
/InterfaceTest01.class
/MyClass.class
/MyInterfaceTest.class
/MyInterfaceTest02.class
/ParentInterA.class
/ParentInterB.class
/Sales.class
/Secretary.class
/SuperClass.class
/SuperInterfaceA.class
/childInterface.class
