/FirstExam.class
/FirstPro.class
/FirstProgram.class
/Hello.class
/LocalVariableTest.class
/OprTest1.class
/OprTest2.class
/OprTest3.class
/OprTest4.class
/OprTest5.class
/PackageTest.class
/PrimitiveTypeCastingTest.class
/PrimitiveTypeValueTest.class
/ScannerTest.class
/ScannerTest2.class
/TimeTest.class
/VarTest.class
